*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body,
html {
  font-family: $body-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  color: $white-900;
  background: $black-900;
  font-size: $global-font-size;
  &.no-scroll {
    overflow: hidden;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  margin: 0;
}
h1 {
  font-size: $h1-font-size;
  font-weight: bold;
}
h4 {
  font-size: $h4-font-size;
  font-weight: normal;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
