///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Standardise some UI treatments.

$global-radius: 3px !default;
//$global-transition: all 300ms ease-in-out !default;
$inuit-static-images: false;
$text-color: #6d6d6d;

$global-font-size: 16px;
$h1-font-size: 3.25rem;
$h4-font-size: 2.5rem;
$body-font: 'Catamaran', sans-serif;
$heading-font: 'Roboto Slab', serif;
$white-900: #ffffff;
$white-300: #DADADA;
$black-900: #000000;
$black-500: #262626;
$black-400: #404040;
$black-300: #909090;
$black-200: #8D8D8D;
$black-250: #9C9C9C;
$black-100: #A3A3A3;
$brown-900: #181110;
$primary: #D14800;
